*{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	box-sizing:border-box;
	font-family:baloo
  }
  button,input{
	background:0;
	border:0;
	background:0 0
  }

  .exit{
	background:white;
	border:darkgrey;
	background:grey;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
  }

  .welcome{
	width:auto;
	color:#0f0f0f;
	top:100px;
	left:50%;
	font-size:25px;
	margin-right:-50%;
	transform:translate(-50%,-50%)
  }
  .email,.login_box,.welcome{
	position:absolute
  }
  .login_box{
	width:466px;
	height:55px;
	overflow:hidden;
	background:rgb(39,77,118,.1);
	top:394px;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%)
  }
  .email{
	width:35px;
	color:#848788;
	top:10px;
	left:10px
  }
  .password_box{
	width:466px;
	overflow:hidden;
	background:rgb(39,77,118,.1);
	height:55px;
	position:absolute;
	top:464px;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%)
  }
  .password{
	position:absolute;
	width:63px;
	color:#848788;
	top:10px;
	left:10px
  }
  .event_title_positioning,.settings_header{
	width:100%;
	top:0;
	left:0;
	overflow:hidden;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0
  }
  .settings_header{
	height:768px;
	background:#fff;
	position:absolute
  }
  .event_title_positioning{
	height:97px;
	background:#2a2962;
	position:absolute
  }
  .exit{
	position:absolute;
	width:24px;
	height:24px;
	top:54px;
	left:90%;
	overflow:visible
  }
  .event_title{
	background:rgb(39,77,118,.1)
  }
  .event_name{
	position:absolute;
	left:11px;
	width:90%;
	color:#000;
	top:26px;
	font-size:16px
  }
  .venue{
	width:466px;
	height:55px;
	position:absolute;
	left:0;
	overflow:hidden;
	top:70px;
	background:rgb(39,77,118,.1)
  }
  .venue_input,.venue_text{
	position:absolute;
	left:10px
  }
  .venue_text{
	width:41px;
	color:#848788;
	top:10px
  }
  .venue_input{
	width:90%;
	color:#000;
	top:26px;
	font-size:16px
  }
  .numerical_value,.participant_box{
	position:absolute;
	left:0;
	overflow:hidden
  }
  .numerical_value{
	width:466px;
	height:125px;
	top:140px
  }
  .participant_box{
	width:336px;
	height:55px;
	top:0;
	background:rgb(39,77,118,.1)
  }
  .participant_input,.participant_text{
	position:absolute;
	left:10px
  }
  .participant_text{
	width:200px;
	color:#848788;
	top:10px
  }
  .participant_input{
	width:90%;
	color:#000;
	top:26px;
	font-size:16px
  }
  .circle,.participant_plus{
	width:55px;
	height:55px;
	top:0;
	overflow:hidden
  }
  .participant_plus{
	left:346px
  }
  .circle,.participant_plus,.symbol{
	position:absolute
  }
  .circle{
	background:#2a2962;
	left:0;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px
  }
  .symbol{
	width:24px;
	height:24px;
	top:15px;
	left:16px;
	overflow:hidden
  }
  .participant_minus{
	top:0;
	left:411px;
	position:absolute
  }
  .alert_minus,.alert_plus{
	top:70px
  }
  .alert_plus{
	position:absolute;
	left:346px
  }
  .alert_minus{
	left:411px
  }
  .alert_box,.alert_minus,.alert_text{
	position:absolute
  }
  .alert_box{
	width:336px;
	height:55px;
	left:0;
	overflow:hidden;
	top:210px;
	background:rgb(39,77,118,.1)
  }
  .alert_text{
	color:#848788;
	top:10px;
	width:200px;
	left:10px
  }
  .input{
	left:10px;
	width:90%
  }
  .input,.settings_title{
	position:absolute
  }
  .input{
	color:#000;
	top:26px;
	font-size:16px
  }
  .settings_title{
	width:190px;
	color:#2e2e2e;
	top:188px;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
	font-size:25px
  }
  .save_position{
	width:466px;
	height:50px;
	overflow:hidden;
	top:606px;
	background:#2a2962;
	border:#c4c4c4 solid 2px
  }
  .delete_position,.save_position{
	position:absolute;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%)
  }
  .delete_box,.delete_position{
	border:#c4c4c4 solid 2px;
	overflow:hidden
  }
  .delete_position{
	top:690px;
	width:466px;
	height:50px;
	background:#cc4e3e
  }
  .delete_box{
	background:#e9edf1;
	width:506px;
	height:147px;
	position:absolute;
	top:50%;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%)
  }
  .center_buttons,.confirm_button{
	height:50px
  }
  .center_buttons{
	width:468px;
	position:absolute;
	top:77px;
	left:20px
  }
  .confirm_button{
	width:223px;
	top:0;
	left:245px
  }
  .confirm,.confirm_button,.confirm_text{
	position:absolute;
	opacity:1
  }
  .confirm{
	width:223px;
	height:50px;
	background:#2a2962;
	top:0;
	left:0;
	border:#c4c4c4 solid 2px;
	overflow:hidden
  }
  .confirm_text{
	width:52px;
	color:#fff;
	top:17px;
	left:86px
  }
  .cancel,.cancel_button{
	width:223px;
	height:50px;
	opacity:1;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden
  }
  .cancel{
	background:#fff;
	border:#c4c4c4 solid 2px
  }
  .cancel_text,.confirm_delete,.title{
	position:absolute
  }
  .cancel_text{
	width:43px;
	color:#2a2962;
	top:17px;
	left:90px;
	opacity:1
  }
  .confirm_delete{
	width:242px;
	color:#0f0f0f;
	top:23px;
	left:135px;
	font-size:20px;
	opacity:1
  }
  .title{
	width:auto;
	color:#fff;
	top:55px;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
	font-size:18px
  }
  .settings_header1,.settings_header2{
	width:12px;
	height:12px;
	position:absolute;
	top:6px;
	left:6px;
	border:#fff solid 2px
  }
  .center,.event_title{
	width:466px;
	position:absolute;
	overflow:hidden
  }
  .center{
	height:265px;
	top:50%;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%)
  }
  .event_title{
	height:55px;
	top:0
  }
  .button_text{
	position:absolute
  }
  .event_title_text{
	width:80px;
	color:#848788;
	position:absolute;
	top:10px;
	left:11px
  }
  .button_text{
	width:100px;
	color:#fff;
	top:50%;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
	font-size:16px
  }
  .events_center{
	width:50%
  }
  .log_out_button{
	width:100px;
	height:34px;
	background:#2a2962;
	position:absolute;
	top:5%;
	left:80%;
	border:#fff solid 1px;
	overflow:visible
  }

  .log_out_button_admin{
	width:200px;
	height:34px;
	background:#2a2962;
	position:absolute;
	top:5%;
	left:80%;
	border:#fff solid 1px;
	overflow:visible
  }
  .admin_out_button {
	width:100px;
	height:34px;
	background:#2a2962;
	position:absolute;
	top:5%;
	left:70%;
	border:#fff solid 1px;
	overflow:visible;
	color:white
  }
  .back_button{
	width:100px;
	height:34px;
	background:#2a2962;
	position:absolute;
	top:5%;
	left:74%;
	border:#fff solid 1px;
	overflow:visible;
	color:#fff;
	font-size:16px
  }
  .event_box,.event_content,.event_content_positioning{
	height:174px;
	position:absolute;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
  }
  .event_box{
	width:0;
	top:270px;
	margin: auto;
	position:relative;
	overflow:visible;
	margin-top: 10px;
  }
  .event_content,.event_content_positioning{
	top:60%
  }
  .event_content_positioning{
	width:422px;
	box-shadow:0 4px 6px rgb(0,0,0,.06);
	overflow:visible;
	margin-top:10%;
  }
  .event_content{
	width:622px;
	background:#e9edf1;
	border:#274d76 solid 1px
  }
  .event_content_text{
	width:500px;
	color:#0f0f0f;
	position:absolute;
	top:30px;
	left:0%;
	font-size:18px
  }
  .entries_element,.event_content_elments{
	height:42px;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	overflow:visible
  }
  .event_content_elments{
	width:361px;
	top:61px;
	left:-84px
  }
  .entries_element{
	width:42px;
	top:0;
	left:-20%;
  }
  .entries_number,.text{
	position:absolute
  }
  .text{
	width:auto;
	color:#4b4b4b;
	margin:auto;
	margin-left:0%;
	font-size:10px
  }
  .entries_number{
	width:8px;
	color:#03254a;
	top:17px;
	left:16px;
	font-size:16px
  }
  .max_element{
	width:88px;
	height:42px;
	position:absolute;
	top:0;
	left:10%;
	overflow:visible
  }
  .max_number{
	width:28px;
	color:#03254a;
	position:absolute;
	top:17px;
	left:27px;
	font-size:16px
  }
  .total_element{
	width:96px;
	height:42px;
	position:absolute;
	top:0;
	left:40%;
	overflow:visible
  }
  .total_element1{
	width:96px;
	height:42px;
	position:absolute;
	top:0;
	left:70%;
	overflow:visible
  }
  .total_element2{
	width:96px;
	height:42px;
	position:absolute;
	top:0;
	left:100%;
	overflow:visible
  }
  .number{
	width:243px;
	color:#03254a;
	position:absolute;
	top:17px;
	left:0px;
	font-size:13px
  }
  .more_button,.more_text{
	position:absolute;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%)
  }
  .more_text{
	width:45px;
	color:#2a2962;
	font-size:10px;
	top:50%
  }
  .more_button{
	width:91px;
	height:30px;
	top:80%;
	border:#2a2962 solid 1px;
	overflow:visible
  }
  .no_events,.no_events_image{
	position:absolute;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%)
  }
  .no_events{
	color:#c5c5c5;
	font-size:20px;
	top:60%
  }
  .no_events_image{
	width:213px;
	height:160px;
	top:30%;
	overflow:hidden
  }
  .new_event,.new_event_button{
	width:466px;
	height:50px;
	position:absolute;
	overflow:visible;
  }
  .new_event_button{
	top:90%;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
  }
  .new_event{
	background:#2a2962;
	top:0;
	left:0;
	border:#c4c4c4 solid 2px
  }
  .new_event_text,.no_events_log_out_button{
	position:absolute;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%)
  }
  .new_event_text{
	width:auto;
	color:#fff;
	top:26px;
	font-size:16px
  }
  .no_events_log_out_button{
	width:100px;
	height:34px;
	background:#2a2962;
	top:80%;
	border:#fff solid 1px;
	overflow:visible
  }
  .log_out_text{
	width:55px;
	color:#fff;
	position:absolute;
	top:3px;
	left:23px;
	font-size:16px
  }

  .log_out_text_admin{
	width:190px;
	color:#fff;
	position:absolute;
	top:3px;
	left:15px;
	font-size:16px
  }
  .response{
	position:absolute;
	margin-top:20%;
	margin-left:40%;
	font-size:15px;
  }
  .response2{
	position:absolute;
	margin-top:20%;
	margin-left:55%;
	font-size:15px;
  }
  .response3{
	position:absolute;
	margin-top:24%;
	margin-left:42%;
	font-size:15px;
  }
  .name_box{
	position:absolute;
	margin-top:15%;
	margin-left:35%;
	font-size:15px;
	background-color:#d3d3d3;
	padding:20px;
	color:#000;
	text-align:left;
	width:500px
  }

  .button_yes{
	font-size:15px;
	background-color:green;
	padding:20px;
	color:#fff;
	text-align:center
  }
  .button_no{
	font-size:15px;
	background-color:maroon;
	padding:20px;
	color:#fff;
	text-align:center
  }
  .message{
	position:absolute;
	margin-top:37%;
	margin-left:35%;
	padding-left:5px;
	font-size:17px
  }
  .text_box{
	background-color:#f0f0f0;
	color:#000;
	border:grey;
	border-style:none;
	width:500px;
	height:100px;
	margin-top:34%;
	margin-left:35%;
	text-align:left
  }
  .submit_button{
	font-size:25px;
	background-color:green;
	padding:10px;
	color:#fff;
	text-align:center;
	width:200px;
	margin-top:2%;
	margin-left:45%
  }
  #margin{
	margin-left:35%;
	margin-top:7%;
	width:30%;
	font-size:25px;
  }
  .box{
	background-color:#fff;
	width:1000px;
	height:800px;
	margin:auto;
	margin-top: 4%;
	border:none;
	position:absolute;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
	top:500px
  }
  .date{
	background-color:#fff;
	color:#000;
	width:800px;
	margin-left:10%;
	text-align:center
  }
  .date li{
	display:inline-block;
	width:10%;
	color:#000;
	margin-left:20px;
	background-color:#6cb4ee
  }
  .number1{
	margin-left:165px;
	margin-top:0
  }
  .number1 li{
	display:inline-block;
	margin-right:3.4em
  }
  .number2{
	margin-left:165px;
	margin-top:30px
  }
  .number2 li{
	display:inline-block;
	margin-right:3.4em
  }
  .number3{
	margin-left:165px;
	margin-top:30px
  }
  .number3 li{
	display:inline-block;
	margin-right:3.4em
  }
  .number4{
	margin-left:165px;
	margin-top:30px
  }
  .number4 li{
	display:inline-block;
	margin-right:3.4em
  }
  .number5{
	margin-left:165px;
	margin-top:30px
  }
  .number5 li{
	display:inline-block;
	margin-right:3.4em
  }
  .number6{
	margin-left:165px;
	margin-top:30px
  }
  .number6 li{
	display:inline-block;
	margin-right:3.4em
  }
  .number-data{
	background-color:#6cb4ee;
	border-radius:50px;
	color:#fff;
	height:50px;
	width:50px
  }
  .plain_text{
	margin-left:100px;
	font-size:15px
  }
  .time_from{
	margin-left:100px;
	border:none;
	background-color:#a3c1ad;
	width:100px;
	height:50px
  }
  .time_button{
	margin-left:20px;
	border:none;
	background-color:#add8e6;
	width:50px;
	height:30px;
	color:#000
  }
  #final_event_submit{
	width:200px;
	height:50px;
	margin-top:30px;
	margin-left:400px;
	background-color:green;
	color:#fff;
	font-size:20px
  }
  .months{
	position:absolute;
	margin-left:17%;
	margin-top:-1.8%
  }
  .months li{
	display:inline-block;
	margin-right:3.4em
  }
  #June{
	display:none
  }
  #July{
	display:none
  }
  .email_rsvp{
	position:absolute;
	margin-top:150px;
	margin-left:35%;
	font-size:15px;
	background-color:#d3d3d3;
	padding:20px;
	color:#000;
	text-align:left;
	width:500px
  }
  *{
	margin:0;
	padding:0
  }
  .hero{
	height:100%;
	width:100%;
	background-image:linear-gradient(rgba(0,0,0,.6),#00000099),url("../src/background.jpg");
	background-position:center;
	background-size:cover;
	position:absolute;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
  }
  .social-media{
	margin:30px auto;
	text-align:center
  }
  .social-media i{
	margin:0 12px;
	text-align:center;
	width:30px;
	box-shadow:0 4px 6px rgba(0,50,104,.688);
	cursor:pointer
  }
  .button-box{
	width:200px;
	margin:35px auto;
	position:relative;
	box-shadow:0 0 20px 9px rgba(39,77,118,.358);
	border-radius:30px
  }
  .toggle-btn-login{
	padding:10px 30px;
	cursor:pointer;
	background:0 0;
	border:0;
	outline:0;
	position:relative
  }
  .toggle-btn-signup{
	padding:10px 30px;
	cursor:pointer;
	background:0 0;
	border:0;
	outline:0;
	position:relative
  }
  #btn{
	top:0;
	left:0;
	position:absolute;
	width:110px;
	height:100%;
	background:linear-gradient(to right,#2a2962,#2a2962);
	border-radius:30px;
	transition:.5s
  }
  .input-field{
	width:100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-right:0;
	border-top:0;
	border-bottom:1px solid #999;
	outline:0;
	background:0 0
  }
  .submit-btn{
	width:85%;
	padding:10px 30px;
	cursor:pointer;
	display:block;
	margin:auto;
	background:linear-gradient(to right,#2a2962,#2a2962);
	border:0;
	outline:0;
	border-radius:30px;
	color:#fff
  }
  .form-box{
	width:480px;
	height:480px;
	position:relative;
	margin:6% auto;
	background:#fff;
	padding:5px;
	border-radius:30px;
	transition:.4s
  }
  .input-group{
	top:180px;
	position:absolute;
	width:280px;
	transition:.5s
  }
  .check-box{
	margin:30px 10px 30px 0
  }
  .check-box span{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
  }
  #login{
	left:110px
  }
  #register{
	display:none;
  }
  header,main{
	display:block
  }
  a{
	background-color:transparent;
	text-decoration:none;
  }
  h1{
	margin:.68em;
  }
  img{
	display:inline-block;
	border:0;
	vertical-align:middle;
	max-width:100%
  }
  *{
	box-sizing:border-box;
  }
  body{
	font-size:13px;
	line-height:21px;
	background-color:#fff;
	color:#333;
	margin:0;
	min-height:100%
  }
  .inline{
	max-width:100%;
	display:inline-block
  }
  label{
	display:block;
	font-weight:700;
	margin-bottom:6px
  }
  .container{
	margin-right:auto;
	max-width:935px;
	margin-left:auto;
  }
  .layout{
	row-gap:15px;
	display:grid;
	grid-auto-columns:1fr;
	column-gap:15px;
	grid-template-columns:1fr 1fr;
	grid-template-rows:auto auto
  }
  .paragraph-2{
	text-align:center;
	font-weight:700
  }
  .info{
	z-index:3;
	margin-top:-73px;
	position:relative
  }
  .landing_grid{
	margin-top:159px;
	grid-template-rows:auto;
	grid-template-columns:1fr 1fr
  }
  .paragraph{
	color:#374151;
	font-size:16px;
	line-height:27px;
	margin-top:21px;
	margin-bottom:25px
  }
  .paragraph.centered{
	color:#333
  }
  .landing_image{
	margin-right:-199px;
	margin-left:-71px;
	width:651px;
	margin-top:-121px
  }
  .heading-2{
	font-size:37px;
	line-height:59px
  }
  .label{
	margin-right:5px;
	color:#fff
  }
  .graphic{
	position:relative;
	z-index:1
  }
  .main{
	justify-content:center;
	border-radius:8px;
	background-color:grey;
	text-align:center;
	display:flex;
	margin-top:41px;
	padding:12px 14px 11px 21px
  }
  .discription{
	height:81px;
	max-width:301px;
	font-weight:400;
	margin-bottom:auto;
	line-height:27px
  }
  .discription.product{
	color:#374151;
	line-height:27px
  }
  .feature-image{
	margin-left:0
  }
  .main-features{
	display:flex;
	margin-top:108px;
	flex-direction:column;
	align-items:center
  }
  .feature{
	text-decoration:none;
	align-items:flex-start;
	display:flex;
	flex-direction:row
  }
  .feature.product{
	flex-direction:column
  }
  .feature-header{
	margin:101px auto 61px;
	font-size:41px;
	line-height:59px;
	text-align:center
  }
  .planning_image{
	margin-top:-81px
  }
  .grid{
	margin-bottom:141px;
	grid-template-rows:auto
  }
  .left{
	margin-left:61px
  }
  .blue{
	margin-bottom:0;
	border-radius:13px;
	position:static;
	left:0;
	top:0;
	background-color:#2a2962
  }
  .header-2{
	font-size:33px
  }
  h1.header-2{
	color:#fff
  }
  .three-products{
	column-gap:41px;
	grid-template-columns:1fr 1fr 1fr;
	margin-right:21px;
	margin-bottom:141px;
	grid-template-rows:auto;
	margin-left:21px
  }
  .submit_position{
	width:466px;
	height:50px;
	overflow:visible;
	/* top:90%; */
	margin-top: 49%;
	background:#2a2962;
	border:#c4c4c4 solid 2px;
	position:absolute;
	margin-left:36%;
  }
  #centre_div{
	margin: auto;
	margin-left: 100%;
  }







  .more_button0{
	width:90px;
	height:20px;
	top:60%;
	border:#2a2962 solid 1px;
	overflow:visible
  }
  .more_text0{
	width:45px;
	color:#2a2962;
	font-size:10px;
	top:60%
  }
  .more_button2{
	position: absolute;
	width:150px;
	height:30px;
	top:71%;
	left:80%;
	overflow:visible;
	border:#2a2962 solid 1px;
  }
  .more_text2{
	position:absolute;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
	width:50px;
	color:#2a2962;
	font-size:10px;
	top:50%
  }
  .more_button3{
	position: relative;
	width:200px;
	height:30px;
	top:800%;
	left:0%;
	overflow:visible;
	border:#2a2962 solid 1px;
  }
  .more_button4{
	position: relative;
	width:300px;
	height:30px;
	top:872%;
	left:80%;
	overflow:visible;
	border:#2a2962 solid 1px;
  }
  .more_button5{
	position: absolute;
	width:300px;
	height:30px;
	top:1220%;
	left:170%;
	overflow:visible;
	border:#2a2962 solid 1px;
  }
  .more_text3{
	position:absolute;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
	width:150px;
	color:#2a2962;
	font-size:20px;
	top:50%
  }
  .more_button1{
	position: absolute;
	width:150px;
	height:30px;
	top:71%;
	left:-10%;
	overflow:visible;
	border:#2a2962 solid 1px;
  }
  .more_text1{
	position:absolute;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
	width:100px;
	color:#2a2962;
	font-size:13px;
	top:50%
  }




  .event_content1{
	height:174px;
	width: 300px;
	background:#e9edf1;
	border:#274d76 solid 1px;
	position: absolute;
  }
  .event_content_positioning1{
	height:300px;
	width: 300px;
	position:relative;
	margin-left: 145%;
	margin-top: 7%;
  }
  .event_content2{
	height:600px;
	width: 1000px;
	background:#e9edf1;
	border:#274d76 solid 1px;
	position: absolute;
  }
  .event_content_positioning2{
	height:300px;
	position:relative;
	margin-left: 40%;
	margin-top: 15%;
  }
  .event_content_text2{
	width:150px;
	color:#0f0f0f;
	position:absolute;
	top:5px;
	left:20px;
	font-size:18px
  }
  .event_content_elements2{
	height:42px;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	overflow:visible;
	width:361px;
	top:50px;
	left:30px
  }
  .new_event_button{
	top:20%;
	left:50%;
	margin-right:-50%;
	transform:translate(-50%,-50%);
  }
  .address_rsvp{
	position:absolute;
	margin-top:29%;
	margin-left:35%;
	font-size:15px;
	background-color:#d3d3d3;
	padding:10px;
	color:#000;
	text-align:left;
	width:500px;
  }
  .phone_rsvp{
	position:absolute;
	margin-top:33%;
	margin-left:35%;
	font-size:15px;
	background-color:#d3d3d3;
	padding:10px;
	color:#000;
	text-align:left;
	width:500px;
  }

  #authorize_button{
	  width:250px;
	  height:34px;
	  background:#2a2962;
	  position:absolute;
	  top:5%;
	  left:15%;
	  border:#fff solid 1px;
	  overflow:visible;
	  z-index:1;
	  color:white
  }

  .cal_text{
	  width:200px;
	  color:#fff;
	  position:absolute;
	  top:8px;
	  left:23px;
	  font-size:16px
  }

  .settings_button {
	width:100px;
	height:34px;
	background:#2a2962;
	position:absolute;
	top:5%;
	left:70%;
	border:#fff solid 1px;
	overflow:visible;
	color:#fff;

	font-size:16px
  }